<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<ul class="nav">
    <a class="nav-link" href="/">Clients</a>
    <a class="nav-link" href="/transaction">Transactions</a>
</ul>
<div class="container">
    <h3 th:text="${client.name}"></h3>
    <h5>Accounts</h5>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.amount}"></td>
        </tr>
        </tbody>
    </table>
    <h5>Add new account</h5>
    <form method="post" th:action="@{'/account/' + ${client.id}+ '/add'}">
        <div class="form-group">
            <label for="amount">Amount</label>
            <input name="amount" type="number" step="0.01" class="form-control" id="amount" placeholder="Enter amount"/>
        </div>
        <button type="submit" class="btn btn-primary">Add account</button>
    </form>
</div>
</body>
</html>