<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<ul class="nav">
    <a class="nav-link disabled" href="/">Clients</a>
    <a class="nav-link" href="/transaction">Transactions</a>
</ul>
<div class="container">
    <h2>Clients</h2>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.id}"></td>
            <td><a th:text="${client.name}" th:href="@{'/client/' + ${client.id}}"></a></td>
            <td th:text="${client.address}"></td>
        </tr>
        </tbody>
    </table>
    <h5>Add new client</h5>
    <form method="post" th:action="@{/client/add}">
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Enter name"/>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input name="address" type="text" class="form-control" id="address" placeholder="Enter address"/>
        </div>
        <button type="submit" class="btn btn-primary">Add client</button>
    </form>
</div>
</body>
</html>