<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<ul class="nav">
    <a class="nav-link" href="/">Clients</a>
    <a class="nav-link disabled" href="/transaction">Transactions</a>
</ul>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Money</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.id}"></td>
            <td th:text="${transaction.from.id}"></td>
            <td th:text="${transaction.to.id}"></td>
            <td th:text="${transaction.money}"></td>
        </tr>
        </tbody>
    </table>
    <h5>Transfer money</h5>
    <form method="post" th:object="${transaction}">
        <div class="form-group">
            <label for="from">From</label>
            <select class="form-control" id="from" name="from">
                <option th:each="account : ${accounts}"
                        th:value="${account.id}"
                        th:text="'['+${account.id}+']'+${account.amount}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="to">To</label>
            <select class="form-control" id="to" name="to">
                <option th:each="account : ${accounts}"
                        th:value="${account.id}"
                        th:text="'['+${account.id}+']'+${account.amount}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="money">Money</label>
            <input name="amount" type="number" step="0.01" class="form-control" id="money" placeholder="Enter money"/>
        </div>
        <button type="submit" class="btn btn-primary">Transfer</button>
    </form>
</div>
</body>